<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eligendi nemo modi cupiditate quisquam sed, quasi fugit! Debitis recusandae deserunt expedita tempora, totam natus molestiae, culpa consectetur odit earum ab.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo nemo veniam iusto sapiente quia possimus aut assumenda sunt exercitationem architecto cum ab consectetur deserunt eos, ipsa nostrum aliquid magnam quod?</p>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolores unde saepe. Quae sed iste omnis ut doloremque aliquam autem dolorem quam quasi commodi? Asperiores tempore repellat deleniti. Architecto, voluptates?
        </p>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html
