<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog</h1></a>
            <p>Made by soulninja</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eligendi nemo modi cupiditate quisquam sed, quasi fugit! Debitis recusandae deserunt expedita tempora, totam natus molestiae, culpa consectetur odit earum ab.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo nemo veniam iusto sapiente quia possimus aut assumenda sunt exercitationem architecto cum ab consectetur deserunt eos, ipsa nostrum aliquid magnam quod?</p>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolores unde saepe. Quae sed iste omnis ut doloremque aliquam autem dolorem quam quasi commodi? Asperiores tempore repellat deleniti. Architecto, voluptates?
        </p>
    </div>

</body>
</html